@keyframes changeColor {
    0% {
        background-color: white;
        color: red;
    }

    100% {
        background-color: red;
        color: white;
    }
}

.header {
    background: url(./images/logo.svg);
    background-repeat: no-repeat;
    background-position: left top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.header__nav-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    order: 2;
}

.header__nav-container li {
    margin-right: 20px;
}

.header__nav-container a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
    transition: font-size 0.3s, font-weight 0.3s;
}

.header__nav-container a:hover {
    font-size: 18px;
    font-weight: 600;
}

.burger-menu {
    font-size: 24px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    display: none;
    z-index: 2;
    order: 1;
}

.header__Sign-In {
    font-style: normal;
    font-weight: 500;
}

.header__Sign-Up {
    color: #F53855;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 1px solid #F53855;
    background: white;
    color: red;
    transition: background-color 0.5s, color 0.5s;
}

.header__Sign-Up:hover {
    animation: changeColor 0.5s ease forwards;
}

@media (max-width: 768px) {
    .header__Sign-In,
    .header__Sign-Up {
        display: none;
    }
    
    .burger-menu {
        display: block;
        position: absolute;
        
    }

    .header__nav-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 1;
        
    }

    .header__nav-container.active {
        display: flex;
        justify-content: flex-start; /* Змінено з "justify-content: center;" */
    }

    .burger-menu.active {
        transform: rotate(90deg);
        background-color: white; /* Додайте бажаний колір фону */
        color: black; /* Додайте бажаний колір тексту */
    }
}
