.hero {
    background: url(./images/Illustration\ 1.svg);
    background-repeat: no-repeat;
    background-position: right;
    
}
@media (max-width: 500px) {
    .hero {
        background: none;
        width: auto;
    }
}
.hero__inner {
    width: 550px;
    padding-top: 150px;
    padding-bottom: 168px;
}

.hero__tittle {
    margin-top: 0px;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
}

.hero__paragraph {
    color: #4F5665;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.hero__button {
    margin-top: 50px;
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    /* 156.25% */
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #F53838;
}

@media (max-width: 500px) {
    .hero {
        padding-top: 100px;
        padding-bottom: 15px;
    }
    .hero__tittle {
        font-size: 30px;
        line-height: 40px;
    }
    .hero__paragraph {
        font-size: 14px;
        line-height: 24px;
    }
    .hero__button {
        margin-top: 30px;
        width: 200px;
        height: 50px;
        font-size: 14px;
        line-height: 22px;
    }
    .hero__inner {
        width: 550px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-left: 623px
    }
}

